<template>
  <div>
    <div>Hello, World!</div>
    <div>Test: {{ msg }}</div>
  </div>
</template>

<script>
  import testQuery from '../repository/helloWorldRepository';
  import Token from '../provider/Token';

  export default {
    name: 'landing',
    data() {
      return {
        msg: '',
      };
    },
    created() {
      testQuery().then((res) => { this.msg = res; }).catch((e) => { window.console.error(e); });
      const a = new Token();
      a.getMessage();
    },
  };
</script>

<style>
</style>
